   <div class="container-fluid ">
            <div class="row mt-5">
                <!-- <div class="col-12 col-md-4 mt-5 offset-4 text-white text-center">
                -->
                <div class="col-12 text-white text-center">  
                    <button class="btn btn-info" data-toggle="modal" data-target="#MyFruitForm">Add Fruit</button>
                </div>
      
                <!-- </div>-->
            </div>
               <div class="modal" id="MyFruitForm" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!-- Header-->
                            <div class="modal-header">
                                <h5 class="modal-title">Fruit</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!--Content-->
                            <div class="modal-body">
                                <form #ProductData="ngForm" (ngSubmit)="SubmitForm(ProductData.value)">

                                    <div class="form-group">
                                    <label for="Id">ID</label>
                                    <input type="number" class="form-control" name="Id" ngModel/>
                                    </div>


                                    <div class="form-group">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" name="Name"  ngModel/>
                                    </div>
                               
                                          
                                    <div class="form-group">
                                    <label for="Price">Price</label>
                                    <input type="number" class="form-control" name="Price" ngModel/>
                                    </div>
                                  
                                    <div class="form-group">
                                    <label for="Description">Description</label>
                                    <input type="text" class="form-control" name="Description" ngModel/>
                                    </div>

                                   <div class="form-group">
                                    <label for="Quantity">Quantity</label>
                                    <input type="number" class="form-control" name="Quantity" ngModel/>
                                    </div>

                                    <div class="form-group">
                                    <label for="imgUrl">Img Url</label>
                                    <input type="text" class="form-control" name="imgUrl" value="https://homepages.cae.wisc.edu/~ece533/images/fruits.png" ngModel/>
                                    </div>

                                      <input type="submit"  class="btn btn-primary">
                                     <!-- <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                                      
                                      -->
                                      
                                    
                                    </form>
                            <!--</div>-->

                            <!--Footer-->
                            <div class="modal-footer">
                               <!-- <button type="button" id="btnLoginId" class="btn btn-primary">Login</button>-->
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
               </div>
