<div style="position: relative; left: 50px; text-align: center">

         <span *ngIf="isAvailable;then cond1 else cond2">
           try if
         </span>
         <br/>
         <button class="btn btn-primary" (click)="onClick()">Change Condition</button>
<ng-template #cond1>Condition1</ng-template>
<ng-template #cond2>Condition2</ng-template>
<br/>

{{"Welcome " |lowercase}}{{name|uppercase}} <br/>
{{d |date}} <br/> {{78|number}} 
<br/> {{name|json}}<br/> 

<!--
         lowercase,uppercase,currency,..=>Pipes
-->
</div>

