<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Fruits Web Shop</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto">
          <!--<li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/Fruits">Fruits</a>
          </li>
         
         
             <li class="nav-item">
            <a class="nav-link " routerLink="/ClientInfo">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="/Clients">Clients</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="/AddProduct">Add Fruit</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>